<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    
</head>
<link rel="stylesheet" src="css/clase3.css">
<link rel="stylesheet" src="css/clase10.css">
<body>
    <div class="login">
        <div class="form-container">
            <img src="./logos/logo_yard_sale.svg" alt="logo" class="logo">
            
            <form action="" class="form">
                <label for="email" class="label">Email address</label>
                <input type="email" id="input" placeholder="example@example.com" class="input-email">

                <label for="password" class="label">Password</label>
                <input type="password" id="input" placeholder="*********" class="input-password input">

                <input type="submit" value="Log in" class="primary-button">
                <a class="forgot" href="" > Forgot my password</a>
            </form>
            <button class="secondary-button"> Sign up</button>
        </div>
    </div>
</body>
</html>