<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    
</head>
<link rel="stylesheet" href="css/clase3.css">
<link rel="stylesheet" href="css/clase10.css">
<body>
    <div class="login">
        <div class="form-container">
            <img src="./logos/logo_yard_sale.svg" alt="logo" class="logo">
            
            <form action="/registrarDatos/" method="post" class="form" > {% csrf_token %}
                <label for="name" class="label">Nombre(s)</label>
                <input type="name" minlength="4" maxlength="10" required id="input_name" placeholder="John" class="input-email">

                <label for="lastname" class="label">Apellido(s)</label>
                <input type="lastname" minlength="2" required id="input_lm" placeholder="Doe" class="input-email">

                <label for="email" class="label">Email address</label>
                <input type="email" minlength="10" required id="input_email" placeholder="example@example.com" class="input-email">
                
                <label for="age" class="label">Edad</label>
                <input type="age" minlength="2" required id="input_age" placeholder="18" class="input-email">

                <label for="password" class="label">Password</label>
                <input type="password" id="input_pass" placeholder="*********" class="input-password input">

                


                <input type="submit" value="Registrar" class="primary-button">
                
            </form>
        </div>
        <ul>
            <!--funcionamiento de Django para poner codigo en html mas sencillo-->
            {% for i in datos %}
            <li>{{i.nombres}}</li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>