<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Estilos de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="static/css/clase10.css">
<link rel="stylesheet" href="{% static 'css/clase3.css' %}" >

<body>
    <div class="login">
        <div class="form-container card" style="width: 18rem;" >
            <img src="./logos/logo_yard_sale.svg" alt="logo" class="logo">
            
            <form action="registrarDatos/" method="post" class="form" > {% csrf_token %}

                <label for="number" class="label">Matricula</label>
                <input type="number"  maxlength="10"  name="id_" required id="input_id" placeholder="Matricula" class="form-control">

                <label for="name" class="label">Nombre(s)</label>
                <input type="name" minlength="4" maxlength="10" name="name_" required id="input_name" placeholder="John" class="form-control">

                <label for="lastname" class="label">Apellido(s)</label>
                <input type="lastname" minlength="2" required name="apellido_" id="input_lm" placeholder="Doe" class="form-control">

                <label for="email" class="label">Email address</label>
                <input type="email" minlength="10" required name="email_" id="input_email" placeholder="example@example.com" class="form-control">
                
                <label for="age" class="label">Edad</label>
                <input type="age" minlength="2" required name="edad_" id="input_age" placeholder="18" class="form-control">

                <label for="password" class="label">Password</label>
                <input type="password" id="input_pass" name="contra_" placeholder="*********" class="form-control">

                
                <input type="submit" value="Registrar" class="primary-button">
                
            </form>
        </div>
        <div>
            <h1>Datos</h1>
        </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Alumnos
                </div>
                <ul class="list-group list-group-flush">
                    <!--funcionamiento de Django para poner codigo en html mas sencillo-->
                    {% for i in datos %}
                    <li class="list-group-item">{{i.nombres}} {{i.apellidos}} Matricula: {{i.id}} </li>
                    {%endfor%}
                </ul>
        </div>
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>